<div id="main">
	<p>I built this blog to hone my skills with the ruby on rails framework. This Blog Is intended for information related to travel and cultures around the world if a blog is submitted that does not fit the genre it will be removed. Enjoy the content! <br> <span>- Kevin Lopez</span></p><br>
</div>